body{
    background-image: url("img.png");
    background-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.logo{
    width: 48px;
}
.menu{
    display: flex;
}
.menu > li{
    list-style: none;
    padding: 10px;
}
.menu > li:hover{
    font-weight: 600;
}



.text{
    padding: 100px 30px;
    }
    .main{
    font-size: 50px;
    line-height: 0%;
    }
    .bold{
        font-size: 100px;
        line-height: 0%;
        font-weight: bold;
     
    }
    .sub{
        font-size: 20px;
        line-height: 0%;
       
    }
    .box{
        display: flex;
        padding-top: 20px;
    }
    .box > one{
        padding: 10px 20px;
        line-height: 10px;
        background-color: black;
        color: white;
    }
    .box > two{
        padding: 10px 20px;
        line-height: 10px;
    }
    .box> two:hover{
    text-decoration: underline;
    }
